<div class="tile-info">
    @tileText
</div>

@code {
    private string tileText;

    public void UpdateText(string text)
    {
        this.tileText = text;
        InvokeAsync(StateHasChanged);
    }
}
