<div style="display: grid; grid-template-columns: repeat(@Width, 1fr); gap: 1px;border: 10px solid pink;">
    @ChildContent
</div>

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public int Width { get; set; }
}
